{% load static %}

<header class="header">

    <!-- logo -->
    <div class="logo">
        <a href="#"><span><i class="la la-slack"></i></span></a>
    </div>

    <!-- menu -->
    <div class="top-menu">
        <ul>
            <li class="active">
                <a href="#home-card">
                    <span class="icon la la-home"></span>
                    <span class="link">خانه</span>
                </a>
            </li>
            <li>
                <a href="#about-card">
                    <span class="icon la la-user"></span>
                    <span class="link">درباره</span>
                </a>
            </li>
            <li>
                <a href="#resume-card">
                    <span class="icon la la-gear"></span>
                    <span class="link">مهارت</span>
                </a>
            </li>
            <li>
                <a href="#works-card">
                    <span class="icon la la-eye"></span>
                    <span class="link">کارها</span>
                </a>
            </li>
            <li>
                <a href="#blog-card">
                    <span class="icon la la-newspaper-o"></span>
                    <span class="link">وبلاگ</span>
                </a>
            </li>
            <li>
                <a href="#contacts-card">
                    <span class="icon la la-envelope"></span>
                    <span class="link">تماس</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Started socials -->
    <div class="social">
        <a target="_blank" href="https://www.rtl-theme.com/"><img src="{% static 'images/icon/rtl.png' %}" width="18" height="18"
                                                                  alt="Rtl Theme"></a>
    </div>

    <!-- Mobile Menu -->
    <span class="menu-btn">
				<span class="m-line"></span>
			</span>

</header>