{% load static %}
<div class="card-inner" id="resume-card">
    <div class="row card-container">

        <!--
            Card Wrap
        -->
        <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

            <!-- Resume Image -->
            <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6"
                 style="background-image: url({% static 'images/profile2.jpg' %});"></div>

            <!--
                Inner Top
            -->
            <div class="content inner-top">
                <div class="row">
                    <div class=" col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="title-bg">تجربیات</div>
                    </div>
                </div>
            </div>

            <!--
                Resume
            -->
            <div class="content resume">
                <div class="row">
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>تجربیات</span> علمی</div>

                        <!-- resume items -->
                        <div class="resume-items card-box">

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">مهندسی شبکه</div>
                                <div class="date">سال 1397در کمپانی فیس بوک<span>|</span> Facebook Inc.</div>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">طراحی وب سایت</div>
                                <div class="date">سال 1397در کمپانی گوگل<span>|</span> Google Inc.</div>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">طراحی اپیکیشن</div>
                                <div class="date">سال 1397در کمپانی اپل<span>|</span> Apple Inc.</div>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                            </div>

                        </div>
                    </div>
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>تجربیات</span> تعلیمی</div>

                        <!-- resume items -->
                        <div class="resume-items card-box">

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">دانشگاه استونی</div>
                                <div class="date">2006-2008 <span>|</span> New York</div>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">دانشگاه هاولس</div>
                                <div class="date">2005-2006 <span>|</span> Paris</div>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">دانشگاه تهران</div>
                                <div class="date">2004-2005 <span>|</span> Iran</div>
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--
                Skills
            -->
            <div class="content skills">
                <div class="row">
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>مهارت های</span> شخصی</div>

                        <!-- skills -->
                        <div class="skills-list card-box">
                            <ul>
                                <li>
                                    <div class="name">شبکه و نتورک</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">وب سرورها</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:65%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">زبان انگلیسی</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:75%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">زبان فرانسوی</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:85%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>مهارت های</span> طراحی</div>

                        <!-- skills -->
                        <div class="skills-list card-box">
                            <ul>
                                <li>
                                    <div class="name">WordPress</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">PHP / MYSQL</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:65%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">HTML / CSS / JS</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:95%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">Photoshop</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:85%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>