{% load static %}

<div class="theme_panel left">
    <div class="toggle_bts">
        <a class="toggle-theme-panel" href="#">
            <i class="icon la la-gear"></i>
        </a>
    </div>
    <div class="theme_menu">
        <h4>تعویض رنگ</h4>
        <div class="segment">
            <ul class="theme layout_style">
                <li>
                    <a title="پوسته سبز" href="#" data-color="green" style="background-color: #5ac24e;"></a>
                </li>
                <li>
                    <a title="پوسته آبی" href="#" data-color="blue" style="background-color: #65b4f3;"></a>
                </li>
                <li>
                    <a title="پوسته نارنجی" href="#" data-color="orange" style="background-color: #f5a640;"></a>
                </li>
                <li>
                    <a title="پوسته صورتی" href="#" data-color="pink" style="background-color: #ee6192;"></a>
                </li>
                <li>
                    <a title="پوسته بنفش" href="#" data-color="purple" style="background-color: #bb68c8;"></a>
                </li>
                <li>
                    <a title="پوسته قرمز" href="#" data-color="red" style="background-color: #ee534f;"></a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <h4>زبان های پوسته</h4>
        <ul class="theme demo_list">
            <li style="width: 50%;"><a href="index-en.html"><strong>انگلیسی</strong></a></li>
            <li style="width: 50%;"><a href="index.html"><strong>فارسی</strong></a></li>
        </ul>
        <div class="clear"></div>
        <h4>بک گراند ها</h4>
        <ul class="theme demo_list">
            <li style="width: 50%;"><a href="index.html"><strong>پس زمینه عکس</strong></a></li>
            <li style="width: 50%;"><a href="index-video.html"><strong>پس زمینه ویدیو</strong></a></li>
            <li style="width: 50%;"><a href="index-particles.html"><strong>پس زمینه شبکه</strong></a></li>
            <li style="width: 50%;"><a href="index-bgcolor.html"><strong>پس زمینه رنگی</strong></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>